@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}

.login {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login form {
  width: 100%;
  max-width: 400px;
  padding: 2rem 1.5rem;
  border: 1px solid #c3c3c3;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

form input {
  border-radius: 4px;
  outline: none;
  border: 1px solid #c3c3c3;
  padding: 0.5rem 1rem;
}

form#loginForm {
  max-width: 400px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.form-field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-field.horizontal {
  flex-direction: row;
  align-items: center;
}

.form-field label,
label.font-small {
  font-size: 0.75rem;
  font-weight: 500;
}

.form-field label.required::after {
  content: " *";
  color: red;
}

button[type="submit"] {
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: rgb(0, 128, 255);
  color: white;
  font-weight: 600;
}

.nextpage {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.nextpage .title {
  font-size: 1.5rem;
  font-weight: 600;
}

table,
th,
td {
  border: 1px solid #c3c3c3;
  border-collapse: collapse;
}

tr,
td,
th {
  height: 34px;
}

td {
  padding: 0 0.5rem;
}

.nextpage table {
  width: 100%;
}

table.border-none,
table.border-none th,
table.border-none td {
  border: none;
}

select {
  border-radius: 4px;
  outline: none;
  border: 1px solid #c3c3c3;
  padding: 0.5rem 1rem;
}

div.section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

button.btn-text {
  color: rgb(0, 128, 255);
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}
